
html {
font-family: arial, sans-serif;
}


.official {
                font-size: 3em;
}

.centralisation {
          display: grid;
          place-content: center;
}

.purchaseButton {
	background: orange
	;
}


.padding {
	padding: 2.5em;
}
.border-hr-dashed {
	border: 3px dashed #00000;
}

.button {
      background-color: #ffffff;
      border-radius: 12px;
	  border: 2px solid black;
      color: #00000;
      height: 150;
      width: 350;
      padding: 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
	.button:hover {
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
      	height: 170;
      	width: 373;
	}
	.githubButton {
	  	border: 2px solid black;
        border-radius: 8px;
	  	background-color: white;
  	    color: black;
        text-align: center;
        text-decoration: none;
	  	padding: 14px 28px;
        display: inline-block;
  		font-size: 16px;
		cursor: pointer;
        height: 60;
        width: 300;
        margin: 0px 10px;
	}
    .githubButtons{
        display: flex;
        justify-content: 10;
        padding: 10px;
    }

    .githubButtons:hover {
        display: flex;
        justify-content: 10;
        padding: 10px;
    }
    .alvar {
        border-color: #04AA6D;
        color: green;
    }

    .alvar:hover {
        background-color: #04AA6D;
        color: white;
		height: 70;
		width: 420;
    }
    .lee {
        border-color: #3304aa;
        color: blue;
    }

    .lee:hover {
        background-color: #3304aa;
        color: white;
		height: 70;
		width: 420;
    }
    .organization {
        border-color: #272727;
        color: black;
    }

    .organization:hover {
        background-color: #272727;
        color: white;
		height: 70;
		width: 420;
    }
    .credits {
        text-align: right;
        margin-top: 0;
        margin-bottom: 0;
    }


