
html {
font-family: arial, sans-serif;
}


.official {
                font-size: 3em;
}

.centralisation {
          display: grid;
          place-content: center;
}

.purchaseButton {
	background: orange
	;
}


.padding {
	padding: 2.5em;
}
.border-hr-dashed {
	border: 3px dashed #ff6347;
}

